#container {
  min-height: 100vh;
  background-image: linear-gradient(15deg, #84bae9 80%, #d88afc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#changeme {
  
}

#inputform {
 
}

h1 {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(185, 185, 247);
  margin-bottom: 0px;
  padding: 20px
}

h3 {
  margin:auto;
  width: 700px
}

#input {
  display: block;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;

}

#keyword-label {
  font-family: sans-serif;
  text-align: center;
  font-weight: 300;
  margin-top: 15px;
}

#clear {
  display: block;
  margin:auto;
  width: 70px
}